#map {
	height: 500px;
	width: 100%;
}

.fondo{
    background-color:#B7EAA1 ;
}
navbar navbar-expand-lg navbar-light bg-light{
    background-color: brown;
}
.jugadoresFondo{
    background-color:#05C1B0  ;

}

.equiposFondo{
    background-color: #C1AD05;

}